#hero {
    width: 85%;
    left:0;
}

#hero h1 {
    font-family: var(--headerFont);
    font-size: clamp(20px, 2.7vw, 2.7vw);
    font-weight: 700;
}

#hero h2 {
    font-family: var(--paragraphFont);
    font-size: clamp(12px, 1.6vw, 1.6vw);
    font-weight: 400;
}

#card {
    background-color: var(--secondaryColor);
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    gap: 2%;
    border: var(--primaryColor) 2px solid;
}

#card a {
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}
#card a:hover {
    background-color:#5658dc;
    cursor: pointer;
}

#card img {
    width:99%;
    aspect-ratio: 8 / 5;
    border: var(--primaryColor) 2px solid;
    object-fit:cover;
    overflow: hidden;
}

#card p {
    font-size: clamp(12px, 1vw, 1vw);
}

#midDiv img {
    aspect-ratio: 16 / 7;
}

#card h4 {
    font-family: var(--paragraphFont);
    font-size: clamp(12px, 1.3vw, 1.3vw);
    font-weight: 700;
}

@media (width < 690px) {
    #card {
        grid-template-columns: unset;
        padding-bottom: 20px;
    }
    #card a {
        display: grid;
        grid-template-columns: 20% 1fr;
        gap: 20px;
    }
    #card img {
        aspect-ratio: 1 / 1;
    }
    #card div {
        grid-area: 1 / 2 / span 1 / span 1;
    }
}