#hero {
    width: 85%;
    left:0;
}

#hero h1 {
    font: var(--headerFont);
    font-size: 3.2vw;
    font-weight: 700;
}

#hero h2 {
    font: var(--paragraphFont);
    font-size: 1.6vw;
}

#card {
    background-color: var(--secondaryColor);
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    gap: 2%;
    border: var(--primaryColor) 2px solid;
}

#card a {
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}
#card a:hover {
    background-color:#5658dc;
    cursor: pointer;
}

#card img {
    width:99%;
    aspect-ratio: 8 / 5;
    border: var(--primaryColor) 2px solid;
    object-fit:cover;
    overflow: hidden;
}
#midDiv img {
    aspect-ratio: 16 / 7;
}

#card h4 {
    font: var(--paragraphFont);
    font-size: 1.3vw;
    font-weight: 700;
}