@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primaryColor: #0f1115;
    --secondaryColor: #5d5fef;
    --accent1: #f2f2f2;
    --accent2: #ff2e9e;
    --headerFont: 'Montserrat', 'Bebas Neue', Arial;
    --paragraphFont: 'Inter', 'Open Sans', Helvetica;
}

p, a {
    color: var(--primaryColor);
}

a:hover {
    text-decoration: none;
}

body {
    background-color: var(--accent1);
    padding: 10px 8%;
}

header {
    padding: 20px 0;
    border-bottom: var(--accent2) 2px solid;
    display: flex;
    width:100%;
    text-transform: uppercase;
    font: var(--headerFont);
}

nav {
    display: flex;
    align-self: flex-end;
    margin-left:auto;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
}
nav a:hover {
    text-shadow: 2px 2px 5px rgba(15, 17, 21, 0.2);
    transform: scale(1.02);
}

footer {
    text-align: center;
    font-size: 12px;
    border-top: var(--accent2) 2px solid;
}