
#example-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


#example-image img {
    max-width: 100%; 
    width: 80%;      
    max-width: 700px;
    height: auto;    
    display: block;
}


.img-thumb {
    width: 200px;
    height: 200px;
    object-fit: cover; 
}



#example-image img.example-img {
    width: 700px !important;  
    max-width: 90% !important;  
    height: auto !important;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}
#how-to {
    background-color: #5D5FEF ;
    border: black 2px solid;
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: #F2F2F2;
    font-size: 2em;
}
#how-to p {
    padding: 0 20px 20px 20px;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    color: black
}

#outfit-combos {
    background-color: #5D5FEF ;
    border: black 2px solid;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 20px;
}
h3 {
    text-align: center;
    color: #F2F2F2 ;
    font-size: 2em;
}
#outfit-combos p {
    padding: 0 20px 20px 20px;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    color: black;
}

#outfit-examples {
    background-color: #5D5FEF ;
    border: black 2px solid;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}
h4, h5 {
    text-align: center;
    color: #F2F2F2 ;
    font-size: 2em;
}
#outfit-examples p {
    padding: 0 20px 20px 20px;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    color: black;
}